
        <div class="row row-content" ng-controller="AboutController">
            <div class="col-xs-12 col-sm-8">
               <h2>Corporate Leadership</h2>
               <ul class="media-list">
                   <li class="media" ng-repeat="leader in leaders">
                       <div class="media-left media-middle">
                           <img class="media-object img-thumbnail" ng-src={{leader.image}} alt="Leader">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">{{leader.name}}
                            <span><small>{{leader.designation}}</small></span>
                           </h3>
                           <p>{{leader.description}}</p>
                       </div>
                   </li>
               </ul>
            </div>
             <div class="col-xs-12 col-sm-4">
                <p style="padding:20px;"></p>
            </div>
       </div>


      <div class="row row-content" ng-controller="AboutController">
            <div class="col-xs-12 col-sm-9">
                <h2>Corporate Leadership</h2>
               <ul class="media-list">
					<li class="media" ng-repeat="chef in chefs">
						<div class="media-left media-middle">
								<img class="media-object img-thumbnail"
									 ng-src={{chef.image}} alt="Uthappizza">
						</div>
						<div class="media-body">
							<h2 class="media-heading">{{chef.name}} <span class="h4 text-muted"> {{chef.designation}}</span></h2> 
							<p>{{chef.description}}</p>
						</div>
					</li>
               </ul>

            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>